* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  background-color: cornflowerblue;
}
@media (max-width: 480px) {
  body {
    padding: 60px 0;
    padding-bottom: 0;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  body {
    padding: 65px 0;
    padding-bottom: 0;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  body {
    padding: 70px 100px;
    padding-bottom: 0;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  body {
    padding: 75px 150px;
    padding-bottom: 0;
  }
}
@media (min-width: 1201px) {
  body {
    padding: 80px 200px;
    padding-bottom: 0;
  }
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: green;
}
@media (max-width: 480px) {
  .top-bar {
    padding: 0 0;
    height: 60px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .top-bar {
    padding: 0 0;
    height: 65px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .top-bar {
    padding: 0 100px;
    height: 70px;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .top-bar {
    padding: 0 150px;
    height: 75px;
  }
}
@media (min-width: 1201px) {
  .top-bar {
    padding: 0 200px;
    height: 80px;
  }
}
.top-bar .left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  background-color: transparent;
}
.top-bar .left .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: transparent;
}
.top-bar .left .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.top-bar .mid {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: darkkhaki;
}
.top-bar .mid .sections {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: transparent;
}
.top-bar .mid .sections button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1;
  cursor: pointer;
  font-size: 1rem;
  background-color: darkgoldenrod;
}
.top-bar .right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  height: 100%;
  background-color: transparent;
}
.top-bar .right .menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: end;
  height: 100%;
  background-color: transparent;
}
.top-bar .right .menu button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
}
.top-bar .right .menu button img {
  width: 50%;
  height: 50%;
  object-fit: contain;
}
.top-bar.scrolled {
  background-color: rgba(0, 128, 0, 0.514);
  backdrop-filter: blur(10px);
}

.content .about {
  display: flex;
  flex-direction: column;
}
.content .about .introduce {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (max-width: 480px) {
  .content .about .introduce {
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .content .about .introduce {
    flex-direction: column;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .content .about .introduce {
    flex-direction: row;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .content .about .introduce {
    flex-direction: row;
  }
}
@media (min-width: 1201px) {
  .content .about .introduce {
    flex-direction: row;
  }
}
.content .about .introduce .profile {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: transparent;
}
.content .about .introduce .profile img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content .about .introduce .text {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: start;
}
.content .services {
  display: grid;
}
@media (max-width: 480px) {
  .content .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .content .services {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .content .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .content .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1201px) {
  .content .services {
    grid-template-columns: repeat(3, 1fr);
  }
}
.content .services .item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content .services .item .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: transparent;
}
.content .services .item .top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content .services .item .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content .services .item .bottom .name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .services .item .bottom .description {
  display: flex;
  align-items: center;
  justify-content: start;
}
.content .projects {
  display: grid;
}
@media (max-width: 480px) {
  .content .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .content .projects {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .content .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .content .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1201px) {
  .content .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}
.content .projects .item {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content .projects .item .top {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  background-color: transparent;
}
.content .projects .item .top img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.content .projects .item .bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.content .projects .item .bottom .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}
.content .projects .item .bottom .title .logo-type {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10%;
  aspect-ratio: 1;
  overflow: hidden;
  background-color: transparent;
}
.content .projects .item .bottom .title .logo-type img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}
.content .projects .item .bottom .title .name {
  display: flex;
  align-items: center;
  justify-content: start;
}
.content .projects .item .bottom .description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
}
.content .projects .item .bottom .used {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.content .projects .item .bottom .used .item {
  width: max-content;
}

/*# sourceMappingURL=style.css.map */
