* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: 1px solid red;
}

body {
  display: flex;
  flex-direction: column;
  padding: 200px 0;
  background-color: cornflowerblue;
  @media (max-width: 480px) {
    padding: 60px 0;
    padding-bottom: 0;
  }
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 65px 0;
    padding-bottom: 0;
  }
  @media (min-width: 769px) and (max-width: 992px) {
    padding: 70px 100px;
    padding-bottom: 0;
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    padding: 75px 150px;
    padding-bottom: 0;
  }
  @media (min-width: 1201px) {
    padding: 80px 200px;
    padding-bottom: 0;
  }
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: green;
  @media (max-width: 480px) {
    padding: 0 0;
    height: 60px;
  }
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 0 0;
    height: 65px;
  }
  @media (min-width: 769px) and (max-width: 992px) {
    padding: 0 100px;
    height: 70px;
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    padding: 0 150px;
    height: 75px;
  }
  @media (min-width: 1201px) {
    padding: 0 200px;
    height: 80px;
  }
  & .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    background-color: transparent;
    & .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      background-color: transparent;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  & .mid {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: darkkhaki;
    & .sections {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100%;
      background-color: transparent;
      & button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1;
        cursor: pointer;
        font-size: 1rem;
        background-color: darkgoldenrod;
      }
    }
  }

  & .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    background-color: transparent;
    & .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      height: 100%;
      background-color: transparent;
      & button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        cursor: pointer;
        background-color: transparent;
        & img {
          width: 50%;
          height: 50%;
          object-fit: contain;
        }
      }
    }
  }
  &.scrolled {
    background-color: rgba(0, 128, 0, 0.514);
    backdrop-filter: blur(10px);
  }
}

.content {
  & .home {
    
  }
  & .about {
    display: flex;
    flex-direction: column;
    & .introduce{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      @media (max-width: 480px) {
        flex-direction: column;
      }
      @media (min-width: 481px) and (max-width: 768px) {
        flex-direction: column;
      }
      @media (min-width: 769px) and (max-width: 992px) {
        flex-direction: row;
      }
      @media (min-width: 993px) and (max-width: 1200px) {
        flex-direction: row;
      }
      @media (min-width: 1201px) {
        flex-direction: row;
      }
      & .profile{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        aspect-ratio: 1;
        overflow: hidden;
        background-color: transparent;
        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      & .text{
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: start;
      }
    }
    
  }
  & .services{
    display: grid;
    @media (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 481px) and (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 769px) and (max-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media (min-width: 1201px) {
      grid-template-columns: repeat(3, 1fr);
    }
    & .item {
      display: flex;
      flex-direction: column;
      width: 100%;
      & .top {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        background-color: transparent;
        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      & .bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        & .name{
          display: flex;
          align-items: center;
          justify-content: center;
        }
        & .description{
          display: flex;
          align-items: center;
          justify-content: start;
        }
      }
    }
  }
  & .projects {
    display: grid;
    @media (max-width: 480px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 481px) and (max-width: 768px) {
      grid-template-columns: repeat(1, 1fr);
    }
    @media (min-width: 769px) and (max-width: 992px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (min-width: 1201px) {
      grid-template-columns: repeat(2, 1fr);
    }
    & .item {
      display: flex;
      flex-direction: column;
      width: 100%;
      & .top {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        aspect-ratio: 16/9;
        overflow: hidden;
        background-color: transparent;
        & img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      & .bottom {
        display: flex;
        flex-direction: column;
        width: 100%;
        & .title{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: start;
          & .logo-type{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 10%;
            aspect-ratio: 1;
            overflow: hidden;
            background-color: transparent;
            & img {
              width: 60%;
              height: 60%;
              object-fit: contain;
            }
          }
          & .name{
            display: flex;
            align-items: center;
            justify-content: start;
          }
        }
        & .description{
          display: -webkit-box;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-line-clamp: 4;
        }
        & .used{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 100%;
          & .item{
            width: max-content;
          }
        }
      }
    }
  }
}
