@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  //outline: 1px solid red;
}

:root {
  --background-primary-color: #ffffff;
  --background-secondary-color: #000000;
  --background-secondary-hover-color: rgba(74, 74, 82, 1);
  --background-blur-color: rgba(208, 221, 208, 0.5);
  --font-primary-color: #000000;
  --font-secondary-color: #4bb8af;
  --shadow-color: inset 0px 0px 13px 2px rgba(0, 0, 0, 0.5);
  --shadow-focus-color: inset 0px 0px 13px 2px rgb(75, 184, 175, 1);
  --border-radius: 0.3rem;
  --padding-gap-margin-s: 0.5rem;
  --padding-gap-margin-m: 1rem;
  --padding-gap-margin-l: 1.5rem;
  --padding-gap-margin-xl: 2rem;
}

[theme="dark"] {
  --background-primary-color: #000000;
  --background-secondary-color: transparent;
  --background-secondary-hover-color: rgba(74, 74, 82, 0.5);
  --background-blur-color: rgba(74, 74, 82, 0.5);
  --font-primary-color: #ffffff;
  --font-secondary-color: #4bb8af;
  --shadow-color: inset 0px 0px 5px 2px rgb(75, 184, 175, 0.7);
  --shadow-focus-color: inset 0px 0px 13px 2px rgb(75, 184, 175, 1);
  --border-radius: 0.3rem;
  --padding-gap-margin-s: 0.5rem;
  --padding-gap-margin-m: 1rem;
  --padding-gap-margin-l: 1.5rem;
  --padding-gap-margin-xl: 2rem;
}

html {
  font-size: clamp(14px, 1.5vw, 18px);
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary-color);
  @media (max-width: 480px) {
    padding: 3.6rem var(--padding-gap-margin-s);
    padding-bottom: 0;
  }
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 3.7rem var(--padding-gap-margin-s);
    padding-bottom: 0;
  }
  @media (min-width: 769px) and (max-width: 992px) {
    padding: 3.8rem 5rem;
    padding-bottom: 0;
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    padding: 3.9rem 5.5rem;
    padding-bottom: 0;
  }
  @media (min-width: 1201px) {
    padding: 4rem 6rem;
    padding-bottom: 0;
  }
}

.top-bar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: var(--background-primary-color);
  @media (max-width: 480px) {
    padding: 0 var(--padding-gap-margin-s);
    height: 3.6rem;
  }
  @media (min-width: 481px) and (max-width: 768px) {
    padding: 0 var(--padding-gap-margin-s);
    height: 3.7rem;
  }
  @media (min-width: 769px) and (max-width: 992px) {
    padding: 0 5rem;
    height: 3.8rem;
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    padding: 0 5.5rem;
    height: 3.9rem;
  }
  @media (min-width: 1201px) {
    padding: 0 6rem;
    height: 4rem;
  }
  & .left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    height: 100%;
    background-color: transparent;
    padding: 0.5rem 0;
    & .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      aspect-ratio: 1;
      overflow: hidden;
      background-color: transparent;
      & img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        background-color: transparent;
      }
    }
  }

  & .mid {
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: transparent;
    & .sections {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      height: 100%;
      gap: var(--padding-gap-margin-s);
      padding: var(--padding-gap-margin-s) 0;
      background-color: transparent;
      & button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 16/7;
        text-transform: uppercase;
        overflow: hidden;
        cursor: pointer;
        font-size: 1rem;
        transition: transform 0.4s ease, font-weight 1s ease;
        background-color: var(--background-secondary-color);
        color: var(--font-secondary-color);
        box-shadow: var(--shadow-color);
        border-radius: var(--border-radius);
        &:hover {
          background-color: var(--background-secondary-hover-color);
          transform: scale(0.9);
          box-shadow: var(--shadow-focus-color);
        }
        &.active {
          text-decoration: underline;
          text-decoration-thickness: 5px;
          font-weight: bold;
        }
      }
    }
    @media (max-width: 480px) {
      display: none;
    }
    @media (min-width: 481px) and (max-width: 768px) {
      display: none;
    }
    @media (min-width: 769px) and (max-width: 992px) {
      display: flex;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      display: flex;
    }
    @media (min-width: 1201px) {
      display: flex;
    }
  }

  & .right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: end;
    height: 100%;
    background-color: transparent;
    & .menu {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: end;
      gap: 0.5rem;
      padding: 0.5rem 0;
      height: 100%;
      background-color: transparent;
      & button {
        all: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        aspect-ratio: 1;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.4s ease;
        background-color: var(--background-secondary-color);
        box-shadow: var(--shadow-color);
        border-radius: var(--border-radius);
        &:hover {
          background-color: var(--background-secondary-hover-color);
          transform: scale(0.97);
          box-shadow: var(--shadow-focus-color);
        }
        & .icon {
          height: 75%;
          width: 75%;
          color: var(--font-secondary-color);
        }
        &.light {
          & .light-icon {
            display: block;
          }
          & .dark-icon {
            display: none;
          }
        }
        &.dark {
          & .light-icon {
            display: none;
          }
          & .dark-icon {
            display: block;
          }
        }
        &#toggle_side-bar {
          position: relative;
          .bar1,
          .bar2,
          .bar3 {
            position: absolute;
            width: 70%;
            height: 0.5rem;
            border-radius: 1rem;
            transition: 0.5s;
            background-color: var(--font-secondary-color);
          }
          & .bar1 {
            top: 25%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          & .bar2 {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          & .bar3 {
            top: 75%;
            left: 50%;
            transform: translate(-50%, -50%);
          }
          &.opened {
            & .bar1 {
              top: 40%;
              left: 15%;
              transform: rotate(-45deg);
            }
            & .bar2 {
              opacity: 0;
            }
            & .bar3 {
              top: 40%;
              left: 15%;
              transform: rotate(45deg);
            }
          }
          @media (max-width: 480px) {
            display: flex;
          }
          @media (min-width: 481px) and (max-width: 768px) {
            display: flex;
          }
          @media (min-width: 769px) and (max-width: 992px) {
            display: none;
          }
          @media (min-width: 993px) and (max-width: 1200px) {
            display: none;
          }
          @media (min-width: 1201px) {
            display: none;
          }
        }
      }
    }
  }
  &.scrolled {
    background-color: var(--background-blur-color);
    backdrop-filter: blur(10px);
  }
}

.side-bar {
  position: fixed;
  right: 0;
  width: 0;
  z-index: 2;
  background-color: var(--background-primary-color);
  @media (max-width: 480px) {
    &.open {
      width: 50vw;
    }
  }
  @media (min-width: 481px) and (max-width: 768px) {
    top: 3.7rem;
    &.open {
      width: 50vw;
    }
  }
  @media (min-width: 769px) and (max-width: 992px) {
    top: 3.8rem;
    &.open {
      width: 0;
    }
  }
  @media (min-width: 993px) and (max-width: 1200px) {
    top: 3.9rem;
    &.open {
      width: 0;
    }
  }
  @media (min-width: 1201px) {
    top: 4rem;
    &.open {
      width: 0;
    }
  }

  & .sections {
    display: flex;
    flex-direction: column;
    gap: var(--padding-gap-margin-m);
    padding: var(--padding-gap-margin-m);
    overflow: hidden;
    background-color: transparent;
    & button {
      all: unset;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      padding: var(--padding-gap-margin-m) 0;
      cursor: pointer;
      font-size: 1.2rem;
      transition: transform 0.4s ease, font-weight 1s ease;
      background-color: var(--background-secondary-color);
      color: var(--font-secondary-color);
      box-shadow: var(--shadow-color);
      border-radius: var(--border-radius);
      &:hover {
        background-color: var(--background-secondary-hover-color);
        transform: scale(0.9);
        box-shadow: var(--shadow-focus-color);
      }
      &.active {
        text-decoration: underline;
        text-decoration-thickness: 5px;
        font-weight: bold;
      }
    }
  }
}

.content {
  & .home {
    display: flex;
    align-items: center;
    background-color: transparent;
    overflow: hidden;
    @media (max-width: 480px) {
      height: calc(100vh - 3.6rem);
      flex-direction: column-reverse;
    }
    @media (min-width: 481px) and (max-width: 768px) {
      height: calc(100vh - 3.7rem);
      flex-direction: column-reverse;
    }
    @media (min-width: 769px) and (max-width: 992px) {
      height: calc(100vh - 3.8rem);
      flex-direction: column-reverse;
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      height: calc(100vh - 3.9rem);
      flex-direction: row;
    }
    @media (min-width: 1201px) {
      height: calc(100vh - 4rem);
      flex-direction: row;
    }
    & .introduction {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      width: 100%;
      gap: var(--padding-gap-margin-m);
      padding: var(--padding-gap-margin-m) 0;
      text-transform: uppercase;
      background-color: transparent;
      @media (max-width: 480px) {
        align-items: center;
      }
      @media (min-width: 481px) and (max-width: 768px) {
        align-items: center;
      }
      @media (min-width: 769px) and (max-width: 992px) {
        align-items: center;
      }
      @media (min-width: 993px) and (max-width: 1200px) {
        align-items: start;
      }
      @media (min-width: 1201px) {
        align-items: start;
      }
      & .text {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        font-size: 2.5rem;
        line-height: 1.2;
        font-weight: 500;
        background-color: transparent;
        font-family: "VT323";
        @media (max-width: 480px) {
          align-items: center;
        }
        @media (min-width: 481px) and (max-width: 768px) {
          align-items: center;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          align-items: center;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
          align-items: start;
        }
        @media (min-width: 1201px) {
          align-items: start;
        }
        & p {
          color: var(--font-primary-color);
          & span {
            color: var(--font-secondary-color);
          }
          & #developer-type {
            border-right: 4px solid;
            animation: blink 0.7s step-end infinite;
          }
          @keyframes blink {
            50% {
              border-color: transparent;
            }
          }
        }
      }
      & .cv-download {
        display: flex;
        background-color: transparent;
        text-decoration: none;
        @media (max-width: 480px) {
          justify-content: center;
          height: 3.6rem;
        }
        @media (min-width: 481px) and (max-width: 768px) {
          justify-content: center;
          height: 3.7rem;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          justify-content: start;
          height: 3.8rem;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
          justify-content: start;
          height: 3.9rem;
        }
        @media (min-width: 1201px) {
          justify-content: start;
          height: 4rem;
        }
        & button {
          all: unset;
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 0.5rem;
          padding: 0 0.5rem;
          height: 100%;
          cursor: pointer;
          overflow: hidden;
          transition: transform 0.4s ease;
          border-radius: var(--border-radius);
          background-color: var(--background-secondary-color);
          box-shadow: var(--shadow-color);
          &:hover {
            background-color: var(--background-secondary-hover-color);
            transform: scale(0.97);
            box-shadow: var(--shadow-focus-color);
          }
          & p {
            color: var(--font-secondary-color);
            font-size: 1.5rem;
            font-weight: bold;
          }
          & .icon {
            aspect-ratio: 1;
            height: 90%;
            color: var(--font-secondary-color);
          }
        }
      }
      & .social {
        display: flex;
        width: 100%;
        gap: var(--padding-gap-margin-m);
        background-color: transparent;
        @media (max-width: 480px) {
          justify-content: center;
          height: 3.6rem;
        }
        @media (min-width: 481px) and (max-width: 768px) {
          justify-content: center;
          height: 3.7rem;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          justify-content: start;
          height: 3.8rem;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
          justify-content: start;
          height: 3.9rem;
        }
        @media (min-width: 1201px) {
          justify-content: start;
          height: 4rem;
        }
        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          aspect-ratio: 1;
          overflow: hidden;
          transition: transform 0.4s ease;
          background-color: var(--background-secondary-color);
          box-shadow: var(--shadow-color);
          border-radius: var(--border-radius);
          &:hover {
            background-color: var(--background-secondary-hover-color);
            transform: scale(0.97);
            box-shadow: var(--shadow-focus-color);
          }
          & .icon {
            height: 75%;
            width: 75%;
            color: var(--font-secondary-color);
          }
        }
      }
    }
    & .profile {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      aspect-ratio: 1;
      padding: var(--padding-gap-margin-s) 0;
      overflow: hidden;
      background-color: transparent;
      & img {
        height: 100%;
        object-fit: contain;
        background-color: transparent;
        border-radius: 0.5rem;
      }
    }
  }
  & .about {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: transparent;
    & .introduce {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: var(--padding-gap-margin-l);
      width: 100%;
      background-color: transparent;
      @media (max-width: 480px) {
        flex-direction: column;
      }
      @media (min-width: 481px) and (max-width: 768px) {
        flex-direction: column;
      }
      @media (min-width: 769px) and (max-width: 992px) {
        flex-direction: row;
      }
      @media (min-width: 993px) and (max-width: 1200px) {
        flex-direction: row;
      }
      @media (min-width: 1201px) {
        flex-direction: row;
      }
      & .profile {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 70%;
        aspect-ratio: 1;
        overflow: hidden;
        background-color: transparent;
        border-radius: 0.5rem;
        & img {
          width: 100%;
          object-fit: contain;
          background-color: transparent;
        }
      }
      & .text {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        gap: var(--padding-gap-margin-m);
        background-color: transparent;
        color: var(--font-primary-color);
        & .myself-title {
          font-weight: bold;
          font-size: 1.5rem;
          text-transform: uppercase;
        }
        & .myself-text {
          text-align: justify;
          font-size: 1.1rem;
        }
      }
    }
  }
  & .services {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    background-color: transparent;
    & .container {
      display: grid;
      width: 100%;
      gap: var(--padding-gap-margin-s);
      background-color: transparent;
      @media (max-width: 480px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 481px) and (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 769px) and (max-width: 992px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (min-width: 993px) and (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
      }
      @media (min-width: 1201px) {
        grid-template-columns: repeat(4, 1fr);
      }
      & .item {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: transparent;
        box-shadow: var(--shadow-color);
        border-radius: var(--border-radius);
        & .top {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          aspect-ratio: 1;
          overflow: hidden;
          padding: var(--padding-gap-margin-s);
          background-color: transparent;
          & .icon {
            width: 100%;
            height: 100%;
            color: var(--font-secondary-color);
          }
        }
        & .bottom {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: var(--padding-gap-margin-s);
          background-color: transparent;
          & .name {
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            color: var(--font-primary-color);
            padding: 0 var(--padding-gap-margin-s);
            font-size: 1.3rem;
            text-align: center;
            font-weight: bold;
            background-color: transparent;
          }
          & .description {
            display: flex;
            align-items: center;
            justify-content: start;
            padding: 0 var(--padding-gap-margin-m);
            padding-bottom: var(--padding-gap-margin-m);
            color: var(--font-primary-color);
            font-size: 0.85rem;
            text-align: justify;
            background-color: transparent;
          }
        }
      }
    }
  }
  & .projects {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    & .container {
      display: grid;
      width: 100%;
      gap: var(--padding-gap-margin-m);
      background-color: transparent;
      @media (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
      }
      @media (min-width: 481px) and (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
      }
      @media (min-width: 769px) and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 993px) and (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
      }
      @media (min-width: 1201px) {
        grid-template-columns: repeat(2, 1fr);
      }
      & .item {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: var(--padding-gap-margin-m);
        gap: var(--padding-gap-margin-s);
        background-color: transparent;
        box-shadow: var(--shadow-color);
        transition: transform 0.4s ease;
        border-radius: var(--border-radius);
        & .top {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          aspect-ratio: 16/9;
          overflow: hidden;
          background-color: transparent;
          & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
        }
        & .bottom {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: var(--padding-gap-margin-s);
          background-color: transparent;
          & .title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: start;
            background-color: transparent;
            gap: var(--padding-gap-margin-m);
            & .logo-type {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 10%;
              aspect-ratio: 1;
              overflow: hidden;
              background-color: transparent;
              box-shadow: var(--shadow-color);
              border-radius: var(--border-radius);
              & .icon {
                width: 100%;
                height: 100%;
                color: var(--font-secondary-color);
                background-color: var(--background-secondary-color);
              }
            }
            & .name {
              display: flex;
              align-items: center;
              justify-content: start;
              background-color: transparent;
              font-size: 1.2rem;
              font-weight: bold;
              color: var(--font-primary-color);
            }
          }
          & .description {
            display: -webkit-box;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            background-color: transparent;
            font-size: 0.9rem;
            color: var(--font-primary-color);
            text-align: justify;
          }
          & .used {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 100%;
            gap: var(--padding-gap-margin-m);
            & .technology {
              width: max-content;
              text-transform: uppercase;
              padding: var(--padding-gap-margin-s) var(--padding-gap-margin-m);
              background-color: var(--background-secondary-color);
              color: var(--font-secondary-color);
              box-shadow: var(--shadow-color);
              border-radius: var(--border-radius);
            }
          }
        }
        &:hover {
          transform: scale(0.97);
          box-shadow: var(--shadow-focus-color);
        }
      }
    }
  }
  & .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    background-color: transparent;
    @media (max-width: 480px) {
      height: calc(100vh - 3.6rem);
    }
    @media (min-width: 481px) and (max-width: 768px) {
      height: calc(100vh - 3.7rem);
    }
    @media (min-width: 769px) and (max-width: 992px) {
      height: calc(100vh - 3.8rem);
    }
    @media (min-width: 993px) and (max-width: 1200px) {
      height: calc(100vh - 3.9rem);
    }
    @media (min-width: 1201px) {
      height: calc(100vh - 4rem);
    }
    & .form {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: var(--padding-gap-margin-l);
      width: 80%;
      background-color: transparent;
      & input,
      textarea,
      button {
        all: unset;
        font: inherit;
        color: inherit;
        padding: var(--padding-gap-margin-m);
        box-sizing: border-box;
        font-size: 1.3rem;
        color: var(--font-secondary-color);
        background-color: var(--background-secondary-color);
        box-shadow: var(--shadow-color);
        border-radius: var(--border-radius);
      }
      input:-webkit-autofill,
      textarea:-webkit-autofill {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-text-fill-color: var(--font-secondary-color) !important;
      }
      & input::placeholder,
      textarea::placeholder {
        color: var(--font-secondary-color);
        opacity: 0.4;
      }
      & input:focus,
      textarea:focus {
        box-shadow: var(--shadow-focus-color);
      }
      & textarea {
        width: 100%;
        max-width: 100%;
        min-width: 0;
        resize: vertical;
      }
      & button {
        cursor: pointer;
        text-align: center;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        transition: transform 0.4s ease;
        font-weight: bold;
        &:hover {
          background-color: var(--background-secondary-hover-color);
          transform: scale(0.98);
          box-shadow: var(--shadow-focus-color);
        }
      }
    }
    & .footer {
      display: flex;
      width: 100%;
      background-color: transparent;
      @media (max-width: 480px) {
        height: 3.6rem;
        flex-direction: column-reverse;
      }
      @media (min-width: 481px) and (max-width: 768px) {
        height: 3.7rem;
        flex-direction: column-reverse;
      }
      @media (min-width: 769px) and (max-width: 992px) {
        height: 3.8rem;
        flex-direction: row;
      }
      @media (min-width: 993px) and (max-width: 1200px) {
        height: 3.9rem;
        flex-direction: row;
      }
      @media (min-width: 1201px) {
        height: 4rem;
        flex-direction: row;
      }
      & .copyright {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: start;
        background-color: transparent;
        padding: var(--padding-gap-margin-s) 0;
        color: var(--font-primary-color);
        font-size: 1.1rem;
        @media (max-width: 480px) {
          justify-content: center;
        }
        @media (min-width: 481px) and (max-width: 768px) {
          justify-content: center;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          justify-content: start;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
          justify-content: start;
        }
        @media (min-width: 1201px) {
          justify-content: start;
        }
      }
      & .social {
        flex: 1;
        display: flex;
        align-items: center;
        height: 100%;
        gap: var(--padding-gap-margin-s);
        padding: var(--padding-gap-margin-s) 0;
        background-color: transparent;
        @media (max-width: 480px) {
          justify-content: center;
        }
        @media (min-width: 481px) and (max-width: 768px) {
          justify-content: center;
        }
        @media (min-width: 769px) and (max-width: 992px) {
          justify-content: end;
        }
        @media (min-width: 993px) and (max-width: 1200px) {
          justify-content: end;
        }
        @media (min-width: 1201px) {
          justify-content: end;
        }
        & a {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
          aspect-ratio: 1;
          overflow: hidden;
          background-color: var(--background-secondary-color);
          box-shadow: var(--shadow-color);
          transition: transform 0.4s ease;
          border-radius: var(--border-radius);
          &:hover {
            background-color: var(--background-secondary-hover-color);
            transform: scale(0.97);
            box-shadow: var(--shadow-focus-color);
          }
          & .icon {
            height: 75%;
            width: 75%;
            color: var(--font-secondary-color);
          }
        }
      }
    }
  }
  & .section-title {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    gap: var(--padding-gap-margin-m);
    padding: var(--padding-gap-margin-l) 0;
    background-color: transparent;
    & p {
      font-size: 1.6rem;
      text-transform: uppercase;
      font-weight: bold;
      color: var(--font-primary-color);
      background-color: transparent;
    }
    & hr {
      border: none;
      width: 25%;
      border-top: 0.5rem solid var(--font-secondary-color);
      background-color: transparent;
    }
  }
}
